@font-face {
  font-family: ProximaNova;
  src: url(../fonts/ProximaNova-Regular.otf);
}

html, body {
	font-family: ProximaNova, serif;
}

.container {
	position: relative;
	display: block;
	
	width: 1200px;
	margin: 0 auto;
}